---
build_config:
  include:
    go: '1.25'
    node: '22'
  src_repo: 'https://github.com/AdguardTeam/AdGuardHome'
pkg_manifest:
  name: adguardhome
  origin: opnware/adguardhome
  version: 0.107.71
  comment: Network-wide ads & trackers blocking DNS server
  www: https://adguard.com/en/adguard-home/overview.html
  maintainer: github.nstein@mailbox.org
  prefix: /opt/opnware/pkgs/adguardhome
  users:
    - adguardhome
  groups:
    - adguardhome
  licenselogic: single
  licenses:
    - GPLv3
  desc: |
    AdGuard Home is a network-wide software for blocking ads & tracking.
    After you set it up, it'll cover ALL your home devices, and you don't need any client-side software for that.
    It operates as a DNS server that re-routes tracking domains to a "black hole," thus preventing your devices from connecting to those servers.
    It's based on software we use for our public AdGuard DNS servers -- both share a lot of common code.
    IMPORTANT:
    - Once it's installed, open http://127.0.0.1:3000/ in your browser to do the initial setup and learn how to configure your devices to use AdGuard Home.
      You don't need to Launch anything explicitly, AdGuard Home service is already started after the installation.
    - If you're running it on Ubuntu, you may need to select a different "Listen interface" for the DNS server.
      Listening to all interfaces is not possible because Ubuntu's systemd-resolved service uses 127.0.0.1:53 already.
  scripts:
    pre-install: |
      existing_ids=$(mktemp)
      cut -d: -f3,4 /etc/passwd | tr ':' '\n' | sort -un > $existing_ids
      service_id=$(seq 300 999 | grep -vxFf $existing_ids | head -n1)
      rm $existing_ids
      echo "===> Creating user"
      if ! pw usershow adguardhome >/dev/null 2>&1; then
        pw adduser adguardhome -u $service_id -d /nonexistent -s /usr/sbin/nologin -c "adguardhome service user"
      else
        echo "Using existing user 'adguardhome'"
      fi
    post-install: |
      chown -R adguardhome:www /opt/opnware/pkgs/adguardhome
      echo "===> Starting service"
      service adguardhome enable
      service adguardhome start
    pre-deinstall: |
      echo "===> Stopping service"
      service adguardhome stop
      service adguardhome disable
    post-deinstall: |
      echo "===> Deleting user"
      pw deluser adguardhome
pkg_service:
  template: default
  vars:
    COMMAND: /opt/opnware/pkgs/adguardhome/adguardhome
