version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directories:
    - "pkg-tool"
    - ".github/assets"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/pkgs/caddy/.depandabot"
    schedule:
      interval: "weekly"
