<menu>
    <Services>
        <Docker VisibleName="Docker" cssClass="fa fa-ship fa-fw" order="550">
            <Dashboard VisibleName="Dashboard" url="/ui/docker" order="10"/>
            <Settings VisibleName="Settings" url="/ui/docker/general" order="20"/>
            <LogFile VisibleName="Log File" url="/ui/diagnostics/log/core/docker" order="30"/>
        </Docker>
    </Services>
</menu>
