<menu>
    <Services>
        <Podman VisibleName="Podman" cssClass="fa fa-cubes fa-fw">
            <Dashboard VisibleName="Dashboard" url="/ui/podman/dashboard" order="10"/>
            <GeneralSettings VisibleName="Settings" url="/ui/podman/general" order="20"/>
            <LogFile VisibleName="Log File" url="/ui/diagnostics/log/core/podman" order="30"/>
        </Podman>
    </Services>
</menu>
