# Complex example:
{
	storage file_system {
		root /opt/opnware/pkgs/caddy
	}
	acme_dns porkbun {
		api_key {env.PORKBUN_API_KEY}
		api_secret_key {env.PORKBUN_API_SECRET_KEY}
	}
	events {
		on cert_obtained exec /opt/opnware/pkgs/caddy/dnsmasq_add_host {env.OPNSENSE_HOSTNAME} {event.data.identifier} {env.CADDY_SERVER_IP}
	}
	servers {
		protocols h1 h2
	}
}

import conf.d/*.caddy
