{
	servers {
		protocols h1 h2
	}
	acme_dns porkbun {
		api_key {env.PORKBUN_API_KEY}
		api_secret_key {env.PORKBUN_API_SECRET_KEY}
	}
	email {$ACME_EMAIL}
	storage file_system {
		root /opt/opnware/pkgs/caddy
	}
	dynamic_dns {
		provider opnsense {
			host {$OPNSENSE_API_ADDRESS}
			api_key {env.OPNSENSE_API_KEY}
			api_secret_key {env.OPNSENSE_API_SECRET_KEY}
			dns_service {$OPNSENSE_DNS_SERVICE}
			insecure {$OPNSENSE_INSECURE}
			entry_description "Managed by Caddy on {$OPNSENSE_HOSTNAME}"
		}
		domains {
			{$BASE_DOMAIN}
		}
		dynamic_domains
		ip_source static {$CADDY_SERVER_IP}
		check_interval 30m
		ttl 1h
		versions ipv4
	}
	log caddy {
		output file /opt/opnware/pkgs/caddy/access.log {
			roll_size 10MiB
			roll_local_time
			roll_keep 5
			roll_keep_for 336h
		}
		format console {
			time_local
			time_format wall
		}
		level INFO
	}
}

import conf.d/*.caddy
