#!/bin/sh

. /etc/rc.subr

name="{{ NAME }}"
{{ NAME }}_chdir="/opt/{{ NAME }}"
rcvar="{{ NAME }}_enable"
{{ NAME }}_user="{{ NAME }}"
{{ NAME }}_command="{{ COMMAND }}"
pidfile="/opt/{{ NAME }}/{{ '${name}' }}.pid"
command="/usr/sbin/daemon"
command_args="-P {{ '${pidfile}' }} -r -f {{ '${' + NAME + '_command' + '}' }}"

load_rc_config {{ '${name}' }}
: {{ '${' + NAME + '_enable' + ':=no' }} }

run_rc_command "$1"
