<acl>
    <page-services-docker>
        <name>Services: Docker</name>
        <patterns>
            <pattern>ui/docker/*</pattern>
            <pattern>api/docker/*</pattern>
            <pattern>ui/diagnostics/log/core/docker*</pattern>
            <pattern>api/diagnostics/log/core/docker*</pattern>
        </patterns>
    </page-services-docker>
</acl>
