name: Auto Merge Dependabot
on:
  pull_request:
    types:
      - opened
    branches:
      - "main"

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    name: "Auto Merge Dependabot Github Actions & PIP Updates"
    runs-on: ubuntu-24.04
    if: github.actor == 'dependabot[bot]' && (contains(github.event.pull_request.labels.*.name, 'github_actions') || contains(github.event.pull_request.labels.*.name, 'pip'))
    steps:
      - uses: actions/checkout@v6
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Enable Pull Request Automerge
        run: gh pr merge --squash --auto "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
      - name: Auto approve
        run: gh pr review --approve "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

  bump-enhancement-version:
    name: "Bump Enhancement Version in Config"
    runs-on: ubuntu-24.04
    if: github.actor == 'dependabot[bot]' && contains(github.event.pull_request.labels.*.name, 'go')
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Set Git Committer
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Check pkgs
        run: |
          set -euo pipefail

          mapfile -d '' files < <(git status --porcelain -z)

          pkgs=()
          for f in "${files[@]}"; do
            path="${f:3}"
            [[ $path == pkgs/*/* ]] || continue
            pkgs+=( "${path#pkgs/}" )
          done

          pkgs=( $(printf '%s\n' "${pkgs[@]%%/*}" | sort -u) )

          if [ "${#pkgs[@]}" -eq 0 ]; then
            echo "No pkgs found!"
            exit 1
          fi

          for pkg in "${pkgs[@]}"; do
            config="./pkgs/${pkg}/config.yml"

            sep=$(yq -r '.build_config.enhancement_version_separator' "$config")
            [ "$sep" != "null" ] || {
              echo "No enhancement version separator for $pkg"
              exit 1
            }

            old_version=$(yq -r '.pkg_manifest.version' "$config")

            pkg_version="${old_version%%"$sep"*}"
            enh_version="${old_version#*"$sep"}"

            [[ $enh_version =~ ^[0-9]+$ ]] || {
              echo "Non-numeric enhancement version for $pkg"
              exit 1
            }

            enh_version=$(echo $enh_version+1 | bc)
            new_version="${pkg_version}${sep}${enh_version}"

            sed -i "/^pkg_manifest:/,/^[^ ]/ s/^\\([[:space:]]*version:[[:space:]]*\\).*/\\1${new_version}/" "$config"

            git add "$config"
            git commit -m "Updated ${pkg} version from ${old_version} to ${new_version}"
          done

          git push

      - name: Enable Pull Request Automerge
        run: gh pr merge --squash --auto "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Auto approve
        run: gh pr review --approve "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
