name: Main Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'pkgs/**'
      - 'service_templates/**'
      - 'config.yml'
      - '.github/workflows/main.yml'
      - '.github/assets/*.py'
  push:
    branches:
      - main
    paths:
      - 'pkgs/**'
      - 'service_templates/**'
      - 'config.yml'
      - '.github/workflows/main.yml'
      - '.github/assets/*.py'

jobs:
  discover-packages:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Parse Packages and Config
        id: set-matrix
        run: |
          if [[ ${{ github.event_name }} == 'pull_request' ]]; then
            changed_pkgs=$(git --no-pager diff --name-only $(git merge-base origin/main HEAD) | grep  pkgs/ | cut -d '/' -f2 | sort -u | tr '\n' ' ' | xargs)
            echo "Changed Packages: ${changed_pkgs}"
            matrix=$(python ./.github/assets/build-matrix.py ${changed_pkgs})
          else
            matrix=$(python ./.github/assets/build-matrix.py)
          fi
          echo "Matrix: $matrix"
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  build-packages:
    strategy:
      matrix: ${{ fromJson(needs.discover-packages.outputs.matrix) }}
      fail-fast: false
    runs-on: ubuntu-24.04
    needs: discover-packages
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          path: repo

      - name: Setup GO
        uses: actions/setup-go@v5
        if: ${{ matrix.go }}
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - name: Setup NodeJS
        uses: actions/setup-node@v5
        if: ${{ matrix.node }}
        with:
          node-version: ${{ matrix.node }}

      - name: Create ${{ matrix.pkg_name }} pkg on runner
        if: ${{ ! matrix.vm_build }}
        working-directory: ./repo/pkgs/${{ matrix.pkg_name }}/
        run: ./build.sh ${{ matrix.arch }} ${{ matrix.abi }}

      - name: Create ${{ matrix.pkg_name }} pkg in vm
        if: ${{ matrix.vm_build }}
        timeout-minutes: 10
        uses: vmactions/freebsd-vm@v1
        with:
          prepare: |
            pkg install -y ${{ matrix.perquisite_pkgs }}
          run: |
            bash -ex repo/pkgs/${{ matrix.pkg_name }}/build.sh ${{ matrix.arch }} ${{ matrix.abi }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.run_id }}_${{ matrix.pkg_name }}_${{ matrix.arch }}_${{ matrix.abi }}
          path: dist/*
          retention-days: 1
          compression-level: 1

  deploy-repo:
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04
    needs: build-packages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          path: repo

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Create pages dir
        run: mkdir pages

      - name: Sort and Store Artifacts
        working-directory: ./pages
        run: |
          for artifact in ${GITHUB_WORKSPACE}/artifacts/*; do
            read arch abi <<< $(echo "${artifact}" | awk -F'_' '{print $(NF-1), $NF}')
            target_dir="${GITHUB_WORKSPACE}/pages/FreeBSD:${abi}:${arch}/latest/All"
            mkdir -p ${target_dir}
            mv ${artifact}/*.pkg ${target_dir}/
            echo "$(cat ${artifact}/packagesite_info.json)" >> ${GITHUB_WORKSPACE}/pages/FreeBSD:${abi}:${arch}/latest/packagesite.yaml
          done

      - name: Create packagesite.pkg & meta.conf
        run: |
          for dir in ${GITHUB_WORKSPACE}/pages/*; do
            tar --zstd --remove-files -cf ${dir}/latest/packagesite.tzst -C ${dir}/latest packagesite.yaml
            cd ${dir}/latest; ln -s ./packagesite.tzst ./packagesite.pkg; cd ${GITHUB_WORKSPACE}
            yq '.meta-conf' -o json  ${GITHUB_WORKSPACE}/repo/config.yml > ${dir}/latest/meta.conf
          done

      - name: Generate Repository Config
        working-directory: ./pages
        run: |
          cat << EOF > ${GITHUB_WORKSPACE}/pages/opnware.conf
          opnware: {
            url: "https://${GITHUB_REPOSITORY_OWNER}.github.io/${GITHUB_REPOSITORY#*/}/\${ABI}/latest",
            priority: 5,
            enabled: yes
          }
          EOF

      - name: Create Index Pages
        working-directory: ./pages
        run: |
          python ../repo/.github/assets/create-dir-index.py .

      - name: Create robots.txt
        working-directory: ./pages
        run: |
          cat << EOF > ${GITHUB_WORKSPACE}/pages/robots.txt
          User-agent: *
          Disallow: /
          EOF

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./pages

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment

  Check-Build:
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    needs:
      - build-packages
    steps:
      - run: |
          result="${{ needs.build-packages.result }}"
          if [[ $result == "success" || $result == "skipped" ]]; then
            exit 0
          else
            exit 1
          fi
